.vscode/
.yarn/
dist/
node_modules/
.env.dev
.env.prod

# release artifacts stored by scripts that are temporary
release-artifacts/

# contains videos and pics used for store listing
watch-room-content/